{% extends 'base.html' %}

{% block body %}
<div class="container-fluid mb-3 text-center">
    <p class="mt-5 mb-0"><em>*We only supports jpg and png for now</em></p>
    <form action="{{ url_for('home') }}" method="post" class="text-center" enctype="multipart/form-data">
        <div class="col-xs-2">
            <label for="file"></label>
            <input class="form-control file" type="file" id="file" name="file" accept="image/*">
            <button class="btn btn-outline-dark mt-3" name="submit">Submit</button>
        </div>
    </form>
</div>
<!--  Footer here-->
<footer>
  <div class="container-fluid text-center">
    <img class="footer-image" src="static/image/rainbow.gif">
  </div>
</footer>
{% endblock body %}